#title_box {
  width: 100%;
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;

  &_image {
    margin: 0 auto;
    background-image: url(../../images/logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    grid-area: 1 / 1 / 2 / 2;
    width: 200px;
    height: 200px;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.15);
  }
}
