@import '../globals/base.scss';

.info {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 450px;
  color: white;
  opacity: 0.5;

  @media (max-height: 720px) {
    position: relative;
  }

  @media (max-width: 450px) {
    padding-top: 75px;
    opacity: 1;
    background-color: white;
    color: rgba(0, 0, 0, 0.4);
    width: 100%;

    span {
      font-size: 12px;
    }

    div.left span a img {
      height: 12px;
    }
  }

  span {
    display: block;
  }

  div.right {
    margin: 15px 15px 15px 0;
    text-align: right;
    float: right;

    @media (max-width: 370px) {
      float: unset;
      margin: 15px 0 15px 0;
      text-align: center;
    }

    a {
      img {
        width: 160px;
        //margin-right: -10px;
        object-position: right;
        object-fit: scale-down;
        filter: grayscale(1) invert(1);

        @media (max-width: 450px) {
          filter: grayscale(1);
        }
        opacity: 0.6;
        transition: opacity 0.1s ease-in-out;
      }

      &:hover {
        img {
          opacity: 1;
        }
      }
    }
  }

  div.left {
    margin: 15px 0 15px 15px;
    text-align: left;
    float: left;

    @media (max-width: 370px) {
      float: unset;
      margin: 15px 0 15px 0;
      text-align: center;
    }

    a {
      color: white;
      text-decoration: none;
      font-weight: 700;

      img {
        height: 14px;
        object-position: center;
        object-fit: fill;
        vertical-align: center;
        filter: grayscale(1) invert(1);
      }

      @media (max-width: 450px) {
        color: rgba(0, 0, 0, 0.4);

        img {
          filter: grayscale(1) invert(0);
          opacity: 0.4;
        }
      }
    }

    a:hover {
      color: rgb(150, 150, 150);

      img {
        filter: grayscale(1) invert(0.6);
      }

      @media (max-width: 450px) {
        color: rgba(0, 0, 0, 0.8);

        img {
          filter: grayscale(1) invert(0);
          opacity: 0.8;
        }
      }
    }
  }
}
